<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <script src="/MovieTheater/view/static/js/jquery-3.2.1.min.js"></script>
    <script src="/MovieTheater/view/static/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="/MovieTheater/view/static/css/bootstrap/bootstrap.min.css">
    <link rel="stylesheet" href="/MovieTheater/view/static/css/common.css">
</head>
<body>

<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="/MovieTheater/view/welcome.php">Movie theater</a>
        </div>
        <ul class="nav navbar-nav">
            <li><a href="#">Some page</a></li>
        </ul>
    </div>
</nav>

</body>
</html>